<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Dialogue</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="/static/css/fontawesome.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="/jquery-ui-datepicker/jquery-ui.min.css" type="text/css" />
    <!-- http://api.jqueryui.com/datepicker/ -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="/static/css/tooplate.css">
</head>

<body class="bg02">
    <div class="container">
        <div class="row">
            <div class="col-12">
                    <nav class="navbar navbar-expand-xl navbar-light bg-light">
                        <a class="navbar-brand" href="#">
                            <i class="fas fa-3x fa-tachometer-alt tm-site-icon"></i>
                            <h1 class="tm-site-title mb-0">沪语者管理系统</h1>
                        </a>
                        <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mx-auto">
                                <li class="nav-item">
                                    <a class="nav-link " href="{{ url_for('index') }}">首页

                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('user_manage',page=1) }}">用户管理
                                    <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a  class="nav-link " href="{{ url_for('passage_manage',page1=1,page2=1) }}">文章管理</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="{{ url_for('scene.scene', sid=sid ,page=1) }}">情景管理</a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                              {% if message %}
                                <li><a class="nav-link" href="#">{{ message.username }}</a></li>
                                <li><a class="nav-link" href="{{ url_for('logout') }}">注销</a></li>
                               {% else %}
                                <li><a class="nav-link" href="{{ url_for('login') }}">登录</a></li>
                                <li><a class="nav-link" href="{{ url_for('regist') }}">注册</a></li>
                              {% endif %}
                            </ul>
                        </div>
                    </nav>
                </div>
        </div>
        <!-- row -->
        <div class="row tm-mt-big">
            <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12">
                <div class="bg-white tm-block">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="tm-block-title d-inline-block">Add Dialogue</h2>
                        </div>
                    </div>
                    <div class="row mt-4 tm-edit-product-row">
                        <div class="col-xl-7 col-lg-7 col-md-12">
                            <form action="{{ url_for('scene.add_dialogue') }}" class="tm-edit-product-form" method="POST">
                                <div class="input-group mb-3">
                                    <label for="dname" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">
                                        对话名称
                                    </label>
                                    <input id="dname" name="dname" type="text" class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7">
                                </div>
                                <div class="input-group mb-3">
                                    <label for="dlyric" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 mb-2">Lyric</label>
                                    <textarea id="dlyric" name="dlyric" class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7" rows="3" required></textarea>
                                </div>
                                <div class="input-group mb-3">
                                    <label for="durl" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">
                                        对话链接
                                    </label>
                                    <input id="durl" name="durl" type="text" class="form-control validate col-xl-9 col-lg-8 col-md-7 col-sm-7">
                                </div>
                                <input id="dsid" name="dsid" value="{{ sid }}" type="hidden">
                                <div class="input-group mb-3">
                                    <div class="ml-auto col-xl-8 col-lg-8 col-md-8 col-sm-7 pl-0">
                                        <button class="btn btn-primary">Add
                                        </button>
                                    </div>
                                </div>
                                <div>
                                    {% for msg in get_flashed_messages() %}
                                    {{ msg }}
                                    {% endfor %}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="row tm-mt-small"></footer>
    </div>

    <script src="/static/js/add_dialogue.js"></script>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="/jquery-ui-datepicker/jquery-ui.min.js"></script>
    <!-- https://jqueryui.com/download/ -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script>
        $(function () {
            $('#expire_date').datepicker();
        });
    </script>
</body>

</html>
