
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="" />
	<!-- Custom Theme files -->
	<link href="/static/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
	<!-- gallery light box -->
	<link rel="stylesheet" href="/static/css/lightbox.css">
	<link href="/static/css/style.css" type="text/css" rel="stylesheet" media="all">
{#        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">#}
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="/static/css/fontawesome.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="/static/css/tooplate.css">
</head>
  <body class="bg04">
  <div class="container">
	<!-- gallery -->
    <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-xl navbar-light bg-light">
                        <a class="navbar-brand" href="#">
                            <i class="fas fa-3x fa-tachometer-alt tm-site-icon"></i>
                            <h1 class="tm-site-title mb-0">沪语者管理系统</h1>
                        </a>
                        <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mx-auto">
                                <li class="nav-item">
                                    <a class="nav-link " href="{{ url_for('index') }}">首页

                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="{{ url_for('user_manage',page=1) }}">用户管理
                                    <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('passage_manage',page1=1,page2=1) }}">文章管理</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="{{ url_for('scene_manage') }}">情景管理</a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                              {% if message %}
                                <li><a class="nav-link" href="#">{{ message.username }}</a></li>
                                <li><a class="nav-link" href="{{ url_for('logout') }}">注销</a></li>
                               {% else %}
                                <li><a class="nav-link" href="{{ url_for('login') }}">登录</a></li>
                                <li><a class="nav-link" href="{{ url_for('regist') }}">注册</a></li>
                              {% endif %}
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
	<div class="agile-section gallery" id="gallery">
		<div class="container">
			<div class="gallery-grids-top">
				<div class="gallery-grids agileits-w3layouts">
					<div class="col-md-4 col-sm-4 col-xs-6 gallery-grid-img">
						<a class="example-image-link w3-agilepic" href="{{ url_for('scene.scene',page=1,sid=scenes[0].sid) }}" data-lightbox="example-set" data-title="">
							<img class="example-image img-responsive" src="/static/images/g1.jpg" alt="" />
							<div class="w3ls-overlay">
								<h4>{{ scenes[0].sname }}</h4>
							</div>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6 gallery-grid-img hover ehover14">
						<a class="example-image-link w3-agilepic" href="{{ url_for('scene.scene',page=1,sid=scenes[1].sid) }}" data-lightbox="example-set" data-title="">
							<img class="example-image img-responsive" src="/static/images/g2.jpg" alt=""  />
							<div class="w3ls-overlay">
								<h4>情景2</h4>
							</div>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6 gallery-grid-img hover ehover14">
						<a class=" w3-agilepic" href="{{ url_for('scene.scene',page=1,sid=scenes[2].sid) }}" data-lightbox="example-set" data-title="" >
							<img class="img-responsive" src="/static/images/g3.jpg" alt=""/>
							<div class="w3ls-overlay">
								<h4 >情景3</h4>
							</div>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6 gallery-grid-img gallery-mdl hover ehover14">
						<a class="example-image-link w3-agilepic" href="{{ url_for('scene.scene',page=1,sid=scenes[3].sid) }}" data-lightbox="example-set" data-title="">
							<img class="example-image img-responsive" src="/static/images/g3.jpg" alt="" />
							<div class="w3ls-overlay">
								<h4>情景4</h4>
							</div>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6 gallery-grid-img gallery-mdl hover ehover14">
						<a class="example-image-link w3-agilepic" href="{{ url_for('scene.scene',page=1,sid=scenes[4].sid) }}" data-lightbox="example-set" data-title="">
							<img class="example-image img-responsive" src="/static/images/g4.jpg" alt="" />
							<div class="w3ls-overlay">
								<h4>情景5</h4>
							</div>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6 gallery-grid-img hover ehover14">
						<a class="example-image-link w3-agilepic" href="{{ url_for('scene.scene',page=1,sid=scenes[5].sid) }}" data-lightbox="example-set" data-title="">
							<img class="example-image img-responsive" src="/static/images/g5.jpg" alt="" />
							<div class="w3ls-overlay">
								<h4>情景6</h4>
							</div>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6 gallery-grid-img hover ehover14">
						<a class="example-image-link w3-agilepic" href="{{ url_for('scene.scene',page=1,sid=scenes[6].sid) }}" data-lightbox="example-set" data-title="">
							<img class="example-image img-responsive" src="/static/images/g6.jpg" alt="" />
							<div class="w3ls-overlay">
								<h4>情景7</h4>
							</div>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6 gallery-grid-img hover ehover14">
						<a class="example-image-link w3-agilepic" href="{{ url_for('scene.scene',page=1,sid=scenes[7].sid) }}" data-lightbox="example-set" data-title="">
							<img class="example-image img-responsive" src="/static/images/g2.jpg" alt="" />
							<div class="w3ls-overlay">
								<h4>情景8</h4>
							</div>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-6 gallery-grid-img gallery-mdl hover ehover14">
						<a class="example-image-link w3-agilepic" href="{{ url_for('scene.scene',page=1,sid=scenes[8].sid) }}" data-lightbox="example-set" data-title="">
							<img class="example-image img-responsive" src="/static/images/g1.jpg" alt="" />
							<div class="w3ls-overlay">
								<h4>情景9</h4>
							</div>
						</a>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
    <!-- gallery light box -->
  </div>
</body>
</html>